node_modules/
dist/
build/
.env

frontend/build/
frontend/.dart_tool/

frontend/.dart_tool/
frontend/build/
frontend/android/.gradle/
frontend/ios/.symlinks/
frontend/ios/Pods/
frontend/macos/Pods/

frontend/linux/flutter/ephemeral/
frontend/windows/flutter/ephemeral/
frontend/ios/Flutter/App.framework/
frontend/ios/Flutter/Flutter.framework/
frontend/macos/Flutter/ephemeral/
flutter_test_output.txt
flutter_build_output.txt
